{
    "customerName": "{{ citrix_tenant }}",
    "clientId": "{{ citrix_client_id }}",
    "clientSecret": "{{ citrix_client_secret }}",
    "resourceLocationId": "{{ resloc_id }}",
    "acceptTermsOfService": "true"
    }